body {
  background-color: #f0f0f0; /* Um cinza bem clarinho */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 { 
    text-align: center; 
    color: #333; /* Um cinza escuro */    
}

/* Borda no <input> */
input {
     border: 1px solid #000; 
    border-radius: 8px;
    margin-bottom: 15px; /* Espaçamento abaixo do input */
    padding: 5px; /* Espaçamento interno */
}

/* Fundo e texto do <button> */
button {
    background-color: #4CAF50;   /* cor de fundo desejada */
    color: white;                /* cor do texto */
    border-radius: 8px;
    padding: 5px; /* Espaçamento interno */
}
